.header {
  max-height: 50px;
}

.divider-wrapper {
  max-height: 25px;

  .divider {
    background-color: '#DDDDDD';
    margin-top: 0;
    margin-bottom: 0;
  }
}

.notification-wrapper {
  max-height: 480px;
  overflow-y: scroll;
}
